* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.picture__row {
    display: flex;
}

.picture__column {
    width: 2px;
    height: 2px;
}

.draw {}

.drawer__row {
    display: flex;
}

.drawer__col {
    border: 1px solid #f5f5f5;
}